@import "mixins/icons";

//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  font-family: $sans-font-family;
  font-weight: 300;
  position: relative;

  .reply-count {
    color: $gray-light;
    &:focus { outline: 0; }
  }

  &:hover .annotation-timestamp, &:hover .reply-count  {
    color: $link-color;
  }
}

.annotation-timestamp {
  line-height: 2;
  color: $text-color;
  &:hover { color: $link-color-hover; }
  &:focus { outline: 0; }
}

.annotation-section,
.annotation-header,
.annotation-footer {
  @include pie-clearfix;
  margin: .8em 0;
}

.annotation-header { margin-top: 0 }
.annotation-footer { margin-bottom: 0 }

.annotation-user {
  color: $text-color;
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}

.annotation-replies {
  display: inline-block;
}

.annotation-actions {
  float: right;
  margin-top: 0;

  button {
    color: $gray-light;
    .annotation:hover & {
      color: $link-color;
    }
  }
}

.annotation-quote {
  @include quote;
  height: 100%;
  max-height: 2.9em;
  overflow: hidden;

  &.show-full-quote {
    max-height: 100%;
  }
  del {
    background:#ffe6e6;
  }
  ins {
    background:#e6ffe6;
  }
}

.annotation-body {
  max-height: 14.8em;
  overflow: hidden;

  &.show-full-body {
    max-height: 100%
  }
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: .923em;
}

.annotation-license {
  clear: both;
  border-top: #cccccc 1px solid;
  font-size: 0.9em;
  padding-top: 0.583em;

  a {
    color: $gray-light;
    display: block;
  }

  @include icons {
    font-size: 16px;
    vertical-align: -3px;
    margin-right: 1px;
  }
}

.show-differences {
  border-left: 3px solid #D3D3D3;
  padding: 0.3em 0.615em;
}


//PRIVACY CONTROL////////////////////////////
privacy {
  position: relative;
  top: 2px;
}

.share-dialog-wrapper {
  position: relative;

  .share-dialog {
    display: none;
  }

  &.open .share-dialog {
    display: block;
  }
}

.share-dialog {
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 3px;
  z-index: 1;
  display: block;
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  white-space: nowrap;

  &:after, &:before {
    top: 100%;
    right: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: $white;
    border-width: 5px;
    margin-right: -5px;
  }

  &:before {
    border-color: rgba(211, 211, 211, 0);
    border-top-color: $gray-lighter;
    border-width: 6px;
    margin-right: -6px;
  }

  input {
    padding: 0;
    width: 220px;
    border: none;
    color: $text-color;
  }
}

.less-quote, .less-body {
  color: rgba(189, 28, 43, 0.5);
  font-style: italic;
  font-family: Georgia,"Bitstream Charter","Times","Times New Roman",serif;

  &:hover {
    color: #BD1C2B;
  }
}

.more-quote, .more-body {
  color: rgba(189, 28, 43, 0.5);
  background: #fff;
  font-style: italic;
  font-family: Georgia,"Bitstream Charter","Times","Times New Roman",serif;

  &:hover {
    color: #BD1C2B;
  }
}

.gradient {
  top: 12em;
  width: 100%;
  height: 3em;
  position: relative;
  z-index: 5;
  background: -webkit-gradient(linear, left bottom, right bottom, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
  background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%, white);
  background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%, white);
  background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%, white);

  .more-body {
    top: 1.5em;
    position: relative;
  }
}

.editing {
  .gradient {
    display: none;
  }
  .less-body {
    display: none;
  }
}

.more-quote {
  position: relative;
  top: 3.35em;
  float: right;
  margin-top: -2em;

  &:before {
    opacity: .9;
    content: " ";
    margin-left: -3em;
    padding-right: 40px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  }
}
